.sky {
  background: $light-blue-sky; // for older browsers
  background: linear-gradient($light-blue-sky, $light-blue-sky , $dark-blue-sky);
  background-attachment: fixed;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: -2;
}

.container {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  width: 1500px;
}

.plane {
  margin-top: -150px;
  position: absolute;
  right: 0;
  top: 30%;

  img {
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-name: plane;
    animation-timing-function: linear;
    height: 300px;
    position: absolute;
    width: 300px;
  }
}

.cloud-1 {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-name: cloud;
  animation-timing-function: linear;
  left: -1000px;
  position: absolute;
  top: 550px;
  z-index: -3;

  img {
    height: 400px;
    width: 400px;
  }
}

.cloud-2 {
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-name: cloud;
  animation-timing-function: linear;
  position: absolute;
  top: 150px;
  z-index: -1;

  img {
    height: 200px;
    width: 200px;
  }
}

.cloud-3 {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: cloud;
  animation-timing-function: linear;
  position: absolute;
  top: 250px;

  img {
    height: 300px;
    width: 300px;
  }
}

.cloud-4 {
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-name: cloud;
  animation-timing-function: linear;
  position: absolute;
  top: -130px;

  img {
    height: 500px;
    width: 500px;
  }
}

.cloud-5 {
  animation-duration: 22s;
  animation-iteration-count: infinite;
  animation-name: cloud;
  animation-timing-function: linear;
  position: absolute;
  top: 400px;
  z-index: -1;

  img {
    height: 250px;
    width: 250px;
  }
}


.ground {
  background-image: url('ground2.svg');
  //background-position: center;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  min-height: 300px;
  position: absolute;
  width: 100%;
  z-index: -1;

}

.ground-fill {
  background-color: $ground-color;
  border-bottom: 7px solid $ground-border;
  border-top: 12px solid $ground-border;
  bottom: 0;
  height: 87px;
  position: absolute;
  width: 100%;
  z-index: -2;
}


.header-nav {
  bottom: 0;
  font-size: 35px;
  position: absolute;
  right: 0;

  div {
    height: 50px;
    overflow: hidden;
    position: relative;
    width: 230px;

    a {
      @extend %shadow-1-6;
      background-color: $main-red;
      border-left: 4px solid $black;
      box-sizing: border-box;
      color: $footer-main-text;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      position: absolute;
      right: 0;
      text-align: center;
      width: 50px;
      z-index: 2;

      + span {
        transition: all .3s;
      }

      &:hover {
        background-color: lighten($main-red, 20%);
        border-left: 4px solid $white;
      }

      &:hover i {
        animation-duration: .2s;
        animation-iteration-count: infinite;
        animation-name: light;
        animation-timing-function: linear;
      }

      &:hover + span {
        background-color: rgba(255, 255, 255, .6);
        color: $main-red;
        display: inline-block;
        left: 0;
        text-shadow: $black 0 0 1px;
        transition: all .3s;
        width: 100%;
      }
    }

    span {
      display: inline-block;
      font-weight: bold;
      left: 230px;
      line-height: 50px;
      padding-left: 5px;
      position: absolute;
      top: 0;
    }
  }
}
