@keyframes plane {
  0% {
    right: 0;
    top: 0;
  }

  10% {
    right: 50px;
    top: 30px;
    transform: rotate(40deg);
  }

  20% {
    right: 60px;
    top: -30px;

  }

  30% {
    right: -40px;
    top: 20px;
    transform: rotate(10deg);
  }

  40% {
    right: -20px;
    top: -20px;
  }

  50% {
    right: 0;
    top: 100px;
    transform: rotate(30deg);
  }

  60% {
    right: 40px;
    top: 0;
  }

  70% {
    right: -20px;
    top: 10px;
    transform: rotate(0deg);
  }

  80% {
    right: -40px;
    top: -20px;

  }

  90% {
    right: 30px;
    top: -60px;
    transform: rotate(40deg);
  }

  100% {
    right: 0;
    top: 0;
  }
}


@keyframes cloud {
  0% {
    left: -1000px;
  }

  100% {
    left: 3000px;
  }
}
