.main {
  margin: 100px auto 0;
  width: 960px;

  h1 {
    color: $main-red;
    font-family: 'Kalam', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 30px;
    text-shadow: 1px 0 0 $black, -1px 0 0 $black, 0 1px 0 $black, 0 -1px 0 $black;
  }

  h2 {
    color: darken($ground-color, 5%);
    letter-spacing: 2px;
    text-shadow: 0 0 1px $black;
  }

  p {
    font-size: 20px;
    margin-top: 0;
    text-align: justify;
  }

  .errors {
    color: $main-red;
    text-shadow: none;
  }
}

#flash-main {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.flash {
  border-radius: 0;
  margin: 0;
  padding: 10px;

  &.flash-error {
    @include flash-styling($main-red, $error-background);
  }

  &.flash-success {
    @include flash-styling($success-border, $success-background);
  }
}


#error-main {
  background-color: $error-background;
  border-top: 3px solid $main-red;
  bottom: 0;
  color: $main-red;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 3;

  i {
    padding-right: 10px;
  }

  h2 {
    font-size: 16px;
    margin: 0;
  }

  ul {
    margin: 10px 0 0;
  }

  li {
    font-size: 12px;
  }

  .error-explanation {
    border-radius: 0;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: 960px;
  }

  .close {
    color: $main-red;
    position: absolute;
    right: 0;
    top: 20px;
  }
}

.no-link {
  color: $main-red
}
