body {
  @media screen and (max-width: 2000px) {
    .ground-fill {
      display: none;
    }
  }

  @media screen and (max-width: 1500px) {
    .container {
      width: 1000px;
    }

    .author {
      display: none;
    }

    .author-1000 {
      display: block;
    }
  }

  @media screen and (max-width: 1000px) {
    .author,
    .author-1000 {
      display: none;
    }

    .author-500 {
      display: block;
    }

    .container,
    .main,
    .footer-content,
    #flash-main,
    #error-main .error-explanation,
    .tech-skill .tech-skill-desc {
      width: 750px;
    }

    .navbar-content {
      width: 800px;
    }
  }
}
