body {
  @media screen and (max-width: 2000px) {
    .ground-fill {
      display: none;
    }
  }

  @media screen and (max-width: 1500px) {
    .container {
      width: 1000px;
    }

    .author {
      display: none;
    }

    .author-1000 {
      display: block;
    }
  }

  @media screen and (max-width: 1000px) {
    .container {
      width: 600px;
    }

    .author {
      display: none;
    }

    .author-1000 {
      display: none;
    }

    .author-500 {
      display: block;
    }

    .main {
      width: 600px;
    }

    .footer-content {
      width: 600px;
    }

    .navbar-content {
      width: 800px;
    }
  }
}
