@mixin flash-styling($border-color, $background-color) {
  background-color: $background-color;
  border-top: 3px solid $border-color;

  color: $border-color;

  div {
    margin: 0 auto;
    text-align: left;
    width: 960px;

    .close {
      color: $border-color;
      float: right;
    }
  }
}

%shadow-1-6 {
  text-shadow: $black 0 0 1px, $black 0 0 1px, $black 0 0 1px,
               $black 0 0 1px, $black 0 0 1px, $black 0 0 1px;
}

%button-flash-effect {
  animation-duration: .2s;
  animation-iteration-count: infinite;
  animation-name: light;
  animation-timing-function: linear;
}
