$light-blue-sky: #50d0ff;
$dark-blue-sky: #076d91;
$main-red: #d40000;
$black: #000;
$ground-color: #c87137;
$ground-border: #784421;
$footer-main-text: #febf80;
$link-flash: #ff9d9d;
$error-background: #ffc8c8;
$success-background: #7dbd9f;
$success-border: #275c43;
