#about {
  font-family: 'Kalam', sans-serif;
  margin-bottom: 60px;
}

.face {
  background-image: asset-url('face.jpg');
  background-size: cover;
  border: 12px solid $main-red;
  border-radius: 20px;
  display: inline-block;

  float: left;
  height: 400px;
  margin: 0 40px 10px 10px;
  position: relative;
  width: 300px;

  &:before {
    border: 3px solid $black;
    border-radius: 8px;
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:after {
    border: 3px solid $black;
    border-radius: 20px;
    bottom: -12px;
    content: ' ';
    left: -12px;
    position: absolute;
    right: -12px;
    top: -12px;
  }
}
