%shadow-1-6 {
  text-shadow: $black 0 0 1px, $black 0 0 1px, $black 0 0 1px,
               $black 0 0 1px, $black 0 0 1px, $black 0 0 1px;
}

footer {
  color: $footer-main-text;
  font-family: 'Oxygen', sans-serif;
  height: 300px;
  margin-top: 50px;
  position: relative;

  a {
    color: $footer-main-text;
    position: relative;
    text-decoration: none;

    i {
      bottom: 0;
      display: inline-block;
      left: -50px;
      line-height: 50px;
      position: absolute;
      text-align: center;
      transition: font-size .3s ease;
      width: 50px;
    }

    &:hover {
      color: lighten($footer-main-text, 20%);

      i {
        animation-duration: .2s;
        animation-iteration-count: infinite;
        animation-name: light;
        animation-timing-function: linear;

        bottom: 0;
        font-size: 45px;
        transition: font-size .3s ease;
      }
    }
  }

  .footer-media {
    @extend %shadow-1-6;
    float: right;
    font-size: 25px;
  }

  .footer-author {
    bottom: 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    right: 0;
    text-align: right;
    text-shadow: $black 0 0 1px;
  }
}

.footer-plane {
  animation-delay: 5s;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: footer-plane;
  animation-timing-function: linear;

  bottom: 0;
  position: absolute;
  transform: rotate(-20deg);
  z-index: 2;

  img {
    filter: FlipH;
    transform: scaleX(-1);
  }
}

.footer-plane-shadow {
  animation-delay: 5s;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: footer-plane-shadow;
  animation-timing-function: linear;

  bottom: 0;
  position: absolute;
}

.footer-content {
  margin: 0 auto;
  padding: 10px 0 0;
  position: relative;
  width: 960px;

  .footer-menu {
    @extend %shadow-1-6;
    float: left;
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding-left: 300px;

    li {
      padding: 5px 0;
    }
  }
}

.footer-main {
  background-image: url('footer.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  top: 0;
  width: 100%;
  z-index: -1;
}

.footer-background-fill {
  background-color: $ground-color;
  border-top: 7px solid $ground-border;
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  max-height: 300px;
  position: absolute;
  width: 100%;
  z-index: -2;
}
