.sky {
  background: $light-blue-sky; // for older browsers
  background: linear-gradient($light-blue-sky, $light-blue-sky , $dark-blue-sky);
  background-attachment: fixed;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: -2;
}

.container {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  width: 1500px;

  @media screen and (max-width: 1500px) {
    width: 1000px;
  }

  .author {
    border: 12px solid $main-red;
    border-radius: 20px;
    font-family: 'Oxygen', sans-serif;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 20%;
    white-space: nowrap;
    width: 70%;

    &:before {
      border: 3px solid $black;
      border-radius: 8px;
      bottom: 0;
      content: ' ';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:after {
      border: 3px solid $black;
      border-radius: 20px;
      bottom: -12px;
      content: ' ';
      left: -12px;
      position: absolute;
      right: -12px;
      top: -12px;
    }

    .name {
      color: $main-red;
      font-size: 80px;
      line-height: 90%;
      margin: 0;
      text-shadow: 3px 0 0 $black, -3px 0 0 $black, 0 3px 0 $black, 0 -3px 0 $black,
                   2px 2px $black, -2px -2px 0 $black, 2px -2px 0 $black, -2px 2px 0 $black,
                   1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black;
      text-transform: uppercase;
    }

    .aka {
      color: $main-red;
      font-size: 35px;
      left: 400px;
      margin: 0;
      position: relative;
      text-shadow: 2px 0 0 $black, -2px 0 0 $black, 0 2px 0 $black, 0 -2px 0 $black,
                   1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black;

      span {
        font-size: 20px;
        text-shadow: 1px 0 0 $black, -1px 0 0 $black, 0 1px 0 $black, 0 -1px 0 $black;
      }
    }

    .profession {
      color: $main-red;
      font-size: 40px;
      font-weight: bold;
      margin: 0;
      position: relative;
      text-shadow: 1px 0 0 $black, -1px 0 0 $black, 0 1px 0 $black, 0 -1px 0 $black;
    }
  }

  .plane {
    margin-top: -150px;
    position: absolute;
    right: 0;
    top: 30%;

    img {
      animation-duration: 8s;
      animation-iteration-count: infinite;
      animation-name: plane;
      animation-timing-function: linear;
      height: 300px;
      position: absolute;
      width: 300px;
    }
  }

  .cloud-1 {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: cloud;
    animation-timing-function: linear;
    left: -1000px;
    position: absolute;
    top: 550px;
    z-index: -3;

    img {
      height: 400px;
      width: 400px;
    }
  }

  .cloud-2 {
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-name: cloud;
    animation-timing-function: linear;
    position: absolute;
    top: 150px;
    z-index: -1;

    img {
      height: 200px;
      width: 200px;
    }
  }

  .cloud-3 {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: cloud;
    animation-timing-function: linear;
    position: absolute;
    top: 250px;

    img {
      height: 300px;
      width: 300px;
    }
  }

  .cloud-4 {
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-name: cloud;
    animation-timing-function: linear;
    position: absolute;
    top: -130px;

    img {
      height: 500px;
      width: 500px;
    }
  }

  .cloud-5 {
    animation-duration: 22s;
    animation-iteration-count: infinite;
    animation-name: cloud;
    animation-timing-function: linear;
    position: absolute;
    top: 400px;
    z-index: -1;

    img {
      height: 250px;
      width: 250px;
    }
  }
}

.ground {
  background-image: url('ground2.svg');
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
  min-height: 300px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.ground-fill {
  background-color: $ground-color;
  border-bottom: 7px solid $ground-border;
  border-top: 12px solid $ground-border;
  bottom: 0;
  height: 87px;
  position: absolute;
  width: 100%;
  z-index: -2;
}
