.content {
  @extend %form;
  background-color: lighten($ground-color, 40%);
  margin: 0 auto;
  padding: 10px;
  text-align: center;

  h1 {
    color: $ground-border;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  form {
    margin: 0 auto;
  }
}
