<% if object.errors.any? -%>
  <div id='error-main'>
    <div class='error-explanation'>
      <h2><i class="fa fa-exclamation-triangle"></i><%= pluralize(object.errors.count, 'error') %> prohibited this message from being send:</h2>
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <a class='close' href='#'><i class="fa fa-times"></i></a>
    </div>
  </div>
<% end -%>
