<div id='about'>
  <h1>About Me:</h1>
  <div class='face'></div>
  <h2>Hi... My name is Dariusz Murawski, <br>WELCOME on my personal web page.</h2>
  <h3>Few words about me:</h3>
  <p>
    Over the last few years I worked as a network administrator. I'm working in this profession now too.
    But there came a moment for me to change my career path. For several months I'm learning about web technologies,
    primarily Ruby on Rails. My finished projects with Github link to evaluate my skills can be found on this page.
    Please take the time to check quality of my code.
  </p>
  <div style='clear:both'></div>
</div>
