<div id='work'>
  <h1>Work</h1>

  <div class='project'>
    <div class='thumb-container'>
      <div class='thumb-box'></div>
      <h2>Project name</h2>
      <div class='project-thumb'></div>
      <div class='thumb-navigation'>
        <div><a href='#'><i class="fa fa-github"></i><span>GitHub Link</span></a></div>
        <div><a href='#'><i class="fa fa-cloud"></i><span>Live Demo</span></a></div>
        <div style='clear:both'></div>
      </div>
    </div>
    <div class='project-info'>
      <p>
        Lorem ......
        </p>
      <p>Created when.... </a>
    </div>
    <div style='clear:both'></div>
  </div>

  <div class='project'>
    <div class='thumb-container'>
      <div class='thumb-box'></div>
      <h2>Project name</h2>
      <div class='project-thumb'></div>
      <div class='thumb-navigation'>
        <div><a href='#'><i class="fa fa-github"></i><span>GitHub Link</span></a></div>
        <div><a href='#'><i class="fa fa-cloud"></i><span>Live Demo</span></a></div>
        <div style='clear:both'></div>
      </div>
    </div>
    <div class='project-info'>
      <p>
        Lorem ......
        </p>
      <p>Created when.... </a>
    </div>
    <div style='clear:both'></div>
  </div>

  <div class='project'>
    <div class='thumb-container'>
      <div class='thumb-box'></div>
      <h2>Project name</h2>
      <div class='project-thumb'></div>
      <div class='thumb-navigation'>
        <div><a href='#'><i class="fa fa-github"></i><span>GitHub Link</span></a></div>
        <div><a href='#'><i class="fa fa-cloud"></i><span>Live Demo</span></a></div>
        <div style='clear:both'></div>
      </div>
    </div>
    <div class='project-info'>
      <p>
        Lorem ......
        </p>
      <p>Created when.... </a>
    </div>
    <div style='clear:both'></div>
  </div>

</div>
