<div class='about'>
  <%= render 'about' %>
</div>
<div class='skills'>
  <%= render 'skills' %>
</div>
<div class='work'>
  <%= render 'work' %>
</div>
<div class='contact'>
  <%= render 'contact' %>
</div>
