<div id='about'>
  <%= render 'about' %>
</div>
<div id='skills'>
  <%= render 'skills' %>
</div>
<div id='work'>
  <%= render 'work' %>
</div>
<div id='contact'>
  <%= render 'contact' %>
</div>
