<footer>
  <div class='footer-main'>
    <div class='footer-content'>
      <div class='footer-plane'><%=image_tag('plane.svg') %></div>
      <div class='footer-plane-shadow'><%=image_tag('plane-shadow.svg') %></div>
      <ul class='footer-menu'>
        <li><a class='goto' href='header'><i class="fa fa-paper-plane"></i>Top</a></li>
        <li><a class='goto' href='#about'><i class="fa fa-male"></i>About</a></li>
        <li><a class='goto' href='#skills'><i class="fa fa-certificate"></i>Skills</a></li>
        <li><a class='goto' href='#work'><i class="fa fa-desktop"></i>Work</a></li>
        <li><a class='goto' href='#contact'><i class="fa fa-envelope"></i>Contact</a></li>
      </ul>
      <div class='footer-media'>
        <a target="_blank" href='https://github.com/Murarius'><i class="fa fa-github"></i>My GitHub</a>
      </div>
      <div class='footer-author'>
        Created by Murarius
        <% if logged_in? -%>
          <%= link_to "<span class='fa fa-power-off'></span>".html_safe, logout_path, method: :delete %>
        <% else -%>
          <%= link_to "<span class='fa fa-cogs'></span>".html_safe, login_path , remote: true, class: 'login_click' %>
        <% end -%>
      </div>
      <div style='clear:both;'></div>
    </div>
  </div>
  <div class='footer-background-fill'></div>
</footer>
