<footer>
  <div class='footer-main'>
    <div class='footer-content'>
      <div class='footer-plane'><%=image_tag('plane.svg') %></div>
      <div class='footer-plane-shadow'><%=image_tag('plane-shadow.svg') %></div>
      <ul class='footer-menu'>
        <li><a class='goto' href='header'><i class="fa fa-paper-plane"></i>Top</a></li>
        <li><a class='goto' href='#about'><i class="fa fa-male"></i>About</a></li>
        <li><a class='goto' href='#skills'><i class="fa fa-certificate"></i>Skills</a></li>
        <li><a class='goto' href='#work'><i class="fa fa-desktop"></i>Work</a></li>
        <li><a class='goto' href='#contact'><i class="fa fa-envelope"></i>Contact</a></li>
      </ul>
      <div class='footer-media'>
        <a href='#'><i class="fa fa-github"></i>My GitHub</a>
      </div>
      <div class='footer-author'>
        Created by Murarius
        <div class='log log-in'><a href='#'>Log in</a></div>
        <div class='log log-out'><a href='#'>Log out</a></div>
      </div>
      <div style='clear:both;'></div>
    </div>
  </div>
  <div class='footer-background-fill'></div>
</footer>
