<nav>
  <div class='navbar-content'>
    <ul>
      <li><a href="#"><i class="fa fa-male"></i>About</a></li>
      <li><a href="#"><i class="fa fa-certificate"></i>Skills</a></li>
      <li><a href="#"><i class="fa fa-desktop"></i>Work</a></li>
      <li><a href="#"><i class="fa fa-envelope"></i>Contact</a></li>
      <li><a href="#"><i class="fa fa-github"></i>My Github</a></li>
    </ul>

    <div class='navbar-login'>
      <a href="#"><i class="fa fa-cogs"></i></a>
      <a href="#"><i class="fa fa-power-off"></i></a>
    <div>
  </div>
</nav>
